<div class="container mt-4">
    <h2>Ticket de vuelo</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vuelo DE COLOMBIA MEXICO</h5>
        <p class="card-text">Precio: $100</p>
        <p class="card-text">Aerolínea: Example Airlines</p>
        <p class="card-text">Salida: BOGOTA  - MEXICO DC</p>
        <p class="card-text">Llegada: MEXICO - </p>
        <p class="card-text">Fecha: 2023-10-23</p>
        <p class="card-text">Hora: 05:00</p>
        <p class="card-text">Número de vuelo: FALSE123</p>
        <p class="card-text">Asiento: 1A</p>
        <p class="card-text">Pasajero: LAURA MORENO</p>
        <button class="btn btn-success">Descargar ticket</button>
      </div>
    </div>
  </div>
  