<div class="container mt-4">
    <h2>Selecciona tu vuelo</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vuelo de MIAMI a HOLANDA</h5>
        <p class="card-text">Precio: $200 </p>
        <p class="card-text">Aerolínea: Example Airlines</p>
        <p class="card-text">Salida: MIAMI - JFK</p>
        <p class="card-text">Llegada: París - CDG</p>
        <p class="card-text">Fecha: <input type="date" class="form-control"></p>
        <p class="card-text">Hora: <input type="time" class="form-control"></p>
        <button class="btn btn-primary">Reservar vuelo</button>
      </div>
    </div>
  </div>
  
